{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "settings": {
    "react": {
      "version": "detect",
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/jsx-fragments": "off"
  }
}
